/* GRID */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  /* auto auto auto; */
  /* repeat(3, 1fr); */
  /* grid-template-rows: repeat(6, auto); */
  grid-gap: 2rem;
  padding: 2rem 0rem;
  justify-content: center;
}

/* GRID-CARD MUOKKAUKSIA */
.grid-card {
  border: 1px solid darkgray;
  transition: 0.3s;
  padding: 1rem;
  height: 460.33px;
  min-height: fit-content;
  /* max-height: fit-content; */
}

.grid-cardpicturesize {
  width: 100%;
  height: 70%;
}

.grid-cardpicturesize img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-card h3,
.grid-card p,
.grid-card figure {
  margin-block-end: 1rem;
}

.grid-card h3 {
  letter-spacing: 0.07rem;
  line-height: 2.2rem;
}

.grid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.grid-card a {
  text-decoration: none;
  color: black;
}
.grid-card a:hover {
  color: rgb(45, 120, 45);
  font-style: italic;
  /* letter-spacing: 0.1rem; */
}
.grid-card i {
  margin-inline-start: 1rem;
}

.favorites-list {
  position: fixed;
  top: 9rem;
  right: 1rem;
  /* width: 20rem; */
  background-color: white;
  border: 1px solid black;
  padding: 2rem;
  z-index: 999;
  line-height: 2.5rem;
}

.favorites-list ul li {
  padding: 1.5rem 0;
  border-block-start: 0.5px solid darkgray;
}
#heart-icon {
  display: none;
  color: rgb(251, 98, 123);
  position: fixed;
  top: 12%;
  right: 5%;
  z-index: 999;
  background-color: white;
  border: 0.5px solid black;
  padding: 1rem;
}
/* Mobiili */
@media only screen and (max-width: 425px) {
  .grid-container {
    grid-template-columns: repeat(1, auto);
    /* auto auto auto; */
    /* repeat(3, 1fr); */
    /* grid-template-rows: repeat(6, auto); */
    padding: 1rem 3rem;
  }
  .grid-cardpicturesize {
    width: 100%;
    height: 28rem;
  }

  .search-input {
    margin-block-end: 1rem;
    margin-inline-start: 0;
  }

  .page-buttons-flex {
    justify-content: center;
  }
}
