<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}">
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Töölön Kahvikauppa</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e00b2e3114.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/reset.css"
      th:href="@{css/reset.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/layout.css"
      th:href="@{css/layout.css}"
    /> -->
  </head>
  <body>
    <header th:replace="~{index::header}"></header>
    <!-- <header>
      <section class="upper-bar">
        <figure>
          <img th:src="@{/images/kahvikauppa_logo2.png}" alt="logo" />
        </figure>
        <nav>
          <ul class="navigation-items">
            <li><a href="index.html" th:href="@{/}">Etusivu</a></li>
            <li>
              <a href="kahvilaitteet.html" th:href="@{/kahvilaitteet}"
                >Kahvilaitteet</a
              >
            </li>
            <li>
              <a href="kulutustuotteet.html" th:href="@{/kulutustuotteet}"
                >Kulutustuotteet</a
              >
            </li>
            <li>
              <a href="admin.html" th:href="@{/admin}"
                ><i class="fa-regular fa-user"></i
              ></a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="header-text">
        <h1>TÖÖLÖN KAHVIKAUPPA</h1>
        <p>Tervetuloa Kahvikauppaan</p>
        <p>Myymme kahvilalaitteita ja -tuotteita</p>
        <p id="header-text-a-margin">
          Ota yhteyttä
          <span id="header-text-a"><a href="#footer">Kahvikauppa</a></span>
        </p>
      </section>
    </header> -->
    <main>
      <section class="admin-section">
        <h2>ADMIN</h2>
        <button style="background-color: #d5e1ca">
          <a th:href="@{/admin}">Tuotteet</a>
        </button>
        <button><a th:href="@{/toimittajat}">Toimittajat</a></button>
        <button><a th:href="@{/valmistajat}">Valmistajat</a></button>
        <button><a th:href="@{/osastot}">Osastot</a></button>
        <button><a th:href="@{/vipasiakkaat}">VIP-asiakkaat</a></button>
      </section>
      <div class="add-section">
        <h3>Lisää uusi tuote:</h3>
        <form
          class="form-flex"
          th:action="@{/admin}"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="name">Tuotteen nimi:</label>
          <input type="text" name="name" id="name" required />
          <label for="price">Tuotteen hinta:</label>
          <input
            type="text"
            name="price"
            id="price"
            placeholder="Syötä hinta muodossa XXX.XX"
            pattern="\d+(\.\d{2})?"
            required
          />
          <label for="description">Tuotteen kuvaus:</label>
          <textarea
            name="description"
            id="description"
            rows="4"
            required
            maxlength="2000"
            style="margin-block-end: 0"
            oninput="updateCharCount()"
          ></textarea>
          <div
            id="charCount"
            style="margin-block-end: 1rem; font-size: 1.2rem"
          ></div>
          <label for="productImage">Kuva:</label>
          <input
            type="file"
            name="productImage"
            id="productImage"
            accept="image/*"
          />
          <label for="department">Osasto:</label>
          <select name="departmentId" id="department" required>
            <option value="">Valitse osasto</option>
            <option
              th:each="department : ${departments}"
              th:value="${department.id}"
              th:text="${department.id} +' '+ ${department.name}"
            ></option>
          </select>

          <label for="supplier">Toimittaja:</label>
          <select name="supplierId" id="supplier" required>
            <option value="">Valitse toimittaja</option>
            <option value="new">Lisää uusi toimittaja</option>
            <option
              th:each="supplier : ${suppliers}"
              th:value="${supplier.id}"
              th:text="${supplier.name}"
            ></option>
          </select>
          <!-- LISÄTÄÄN UUSI TOIMITTAJA JOS TARVITSEE -->
          <label
            for="newSupplierNameInput"
            id="newSupplierNameLabel"
            style="display: none; margin-inline-start: 2rem"
            >Uuden toimittajan nimi:</label
          >
          <input
            type="text"
            id="newSupplierNameInput"
            name="newSupplierName"
            style="
              display: none;
              margin-inline-start: 2rem;
              border: 1.5px solid #015ecc;
            "
            th:if="${isNewSupplier}"
          />

          <label for="producer">Valmistaja:</label>
          <select name="producerId" id="producer" required>
            <option value="">Valitse valmistaja</option>
            <option value="new">Lisää uusi valmistaja</option>
            <option
              th:each="producer : ${producers}"
              th:value="${producer.id}"
              th:text="${producer.name}"
            ></option>
          </select>
          <!-- LISÄTÄÄN UUSI VALMISTAJA JOS TARVITSEE -->
          <label
            for="newProducerNameInput"
            id="newProducerNameLabel"
            style="display: none; margin-inline-start: 2rem"
            >Uuden valmistajan nimi:</label
          >
          <input
            type="text"
            id="newProducerNameInput"
            name="newProducerName"
            style="
              display: none;
              margin-inline-start: 2rem;
              border: 1.5px solid #015ecc;
            "
            th:if="${isNewProducer}"
          />
          <input class="submit-button" type="submit" value="Lisää" />
        </form>
      </div>

      <table class="admin-table">
        <thead>
          <tr>
            <th>Tuotteen nimi</th>
            <th>Tuotteen hinta</th>
            <!-- <th>Tuotteen kuvaus</th>
            <th>Kuva</th> -->
            <th>Osasto</th>
            <th>Toimittaja</th>
            <th>Valmistaja</th>
            <th style="width: 15%">Tarkemmat tiedot/muokkaa</th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
            <td th:text="${product.name}">Product name</td>
            <td th:text="${product.price}">Product's price</td>
            <!-- <td th:text="${product.description}">Product description</td>
            <td th:text="${product.productImage}">Product image path</td> -->
            <td th:text="${product.osasto.name}">Product's department</td>
            <td th:text="${product.toimittaja.name}">Product's supplier</td>
            <td th:text="${product.valmistaja.name}">Product's producer</td>
            <td>
              <button class="update-button">
                <a th:href="@{/updateProduct/{id}(id=${product.id})}"
                  >Muokkaa</a
                >
              </button>
            </td>
            <td>
              <form
                th:action="@{/deleteProduct/{id}(id=${product.id})}"
                method="POST"
              >
                <button class="delete-button" type="submit">Poista</button>
              </form>
            </td>
          </tr>
          <tr>
            <td colspan="7" style="font-style: italic; text-align: center">
              Taulukossa on yhteensä
              <span th:text="${products.size()}">0</span>
              tuotetta.
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <div th:replace="~{index::footer}"></div>
    <!-- <footer id="footer">
      <section class="footer-contact">
        <h4>Yhteystiedot</h4>
        <p>Töölön Kahvikauppa</p>
        <p>Töölöntorinkatu 445,</p>
        <p>00160 Helsinki</p>
        <p>0400445445</p>
        <p>toolo@toolonkahvikauppa.fi</p>
      </section>
      <section class="footer-about-us">
        <h4>Tietoa meistä</h4>
        <p><a href="#">Toimitusehdot</a></p>
        <p><a href="#">Tietosuojaseloste</a></p>
        <p>Y-tunnus: 292292-4</p>
      </section>
      <section class="footer-icons">
        <h4 id="icons-h4">Tuhtaamista somessa</h4>
        <p>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </p>
      </section>
      <p id="copyright">
        Copyright © 2024 Töölön Kahvikauppa. Kaikki oikeudet pidätetään.
      </p>
    </footer> -->
  </body>
</html>
<!-- // document.addEventListener("DOMContentLoaded", function () {
  //   let textarea = document.getElementById("description");
  //   let counter = document.getElementById("charCount");

  //   // Alustava merkkimäärän laskenta
  //   let initialCount = textarea.value.length;
  //   counter.textContent = initialCount + "/2000";

  //   textarea.addEventListener("input", function () {
  //     let count = textarea.value.length;
  //     counter.textContent = count + "/2000"; // Enimmäismerkkimäärä 2000 tietokannassa
  //   });
  //   document
  //     .getElementById("supplier")
  //     .addEventListener("change", function () {
  //       let isNewSupplier =
  //         document.getElementById("supplier").value === "new";
  //       document.getElementById("newSupplierNameInput").style.display =
  //         isNewSupplier ? "block" : "none";
  //       document.getElementById("newSupplierNameLabel").style.display =
  //         isNewSupplier ? "block" : "none";
  //     });
  //   document
  //     .getElementById("producer")
  //     .addEventListener("change", function () {
  //       let isNewProducer =
  //         document.getElementById("producer").value === "new";
  //       document.getElementById("newProducerNameInput").style.display =
  //         isNewProducer ? "block" : "none";
  //       document.getElementById("newProducerNameLabel").style.display =
  //         isNewProducer ? "block" : "none";
  //     });
  // }); -->
<!-- OSASTO OPTION SELECTI PORRASTETUSTI!! -->
<!-- <label for="rootDepartment">Osasto:</label>
            <select id="rootDepartment" name="rootDepartment">
              <option value="">Valitse pääosasto</option>
              <option
                th:each="rootDepartment : ${rootDepartments}"
                th:value="${rootDepartment.id}"
                th:text="${rootDepartment.name}"
              ></option>
            </select> -->

<!-- Sub department valinta, näkyy vain jos pääosasto on valittu -->
<!-- <label
              for="subDepartment"
              th:if="${not #lists.isEmpty(subDepartments)}"
              >Alaosasto:</label
            >
            <select
              id="subDepartment"
              name="subDepartment"
              th:if="${not #lists.isEmpty(subDepartments)}"
            >
              <option value="">Valitse alaosasto</option>
              <option
                th:each="subDepartment : ${subDepartments}"
                th:value="${subDepartment.id}"
                th:text="${subDepartment.name}"
              ></option>
            </select> -->

<!-- Lower level department valinta, näkyy vain jos alaosasto on valittu -->
<!-- <label
              for="lowerLevelDepartment"
              th:if="${not #lists.isEmpty(lowerLevelDepartments)}"
              >Valitse alemman tason osasto:</label
            >
            <select
              id="lowerLevelDepartment"
              name="lowerLevelDepartment"
              th:if="${not #lists.isEmpty(lowerLevelDepartments)}"
            >
              <option value="">Valitse alempi tason osasto</option>
              <option
                th:each="lowerLevelDepartment : ${lowerLevelDepartments}"
                th:value="${lowerLevelDepartment.id}"
                th:text="${lowerLevelDepartment.name}"
              ></option>
            </select> -->
