<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}"></head>
  <body>
    <header th:replace="~{index::header}"></header>
    <main>
      <!-- <div id="orderList">
        <ul></ul>
        <form
          id="orderForm"
          th:action="@{/order}"
          method="POST"
          style="text-align: center"
        >
          <input type="hidden" id="orderFormInput" name="order" />
          <button
            id="order-button"
            class="site-button"
            style="margin-block-start: 1rem"
            type="submit"
          >
            Lähetä tilaus
          </button>
        </form>
      </div> -->
      <div id="favourites">
        <ul id="favorites-list"></ul>
      </div>
      <i
        id="heart-icon"
        class="fa-regular fa-heart"
        onclick="showFavorites()"
      ></i>
      <h2>KAHVILAITTEET</h2>
      <p
        class="summary-p"
        th:text="' Sivu ' + (${pageNumber != null ? pageNumber : '1'}) + '/' + (${totalPages != null ? totalPages : '1'})"
      ></p>
      <p
        style="margin: 1rem 0rem 2rem 2rem"
        th:text="'Laitteita sivulla: ' + ${kahvilaitteet.size()} + '/' + (${kaikkiKahvilaitteet != null ? kaikkiKahvilaitteet.size() : '0'})"
      ></p>
      <form th:action="@{/searchMachines}" method="GET">
        <input
          class="search-input"
          type="text"
          id="searchInput"
          name="keyword"
          placeholder="Etsi tuotteita"
        />
        <button class="site-button" type="submit">Hae</button>
      </form>
      <section
        th:if="${keyword}"
        class="error-message"
        style="margin: 1rem 1rem 2rem 1rem"
      >
        <p th:text="${keyword}"></p>
      </section>
      <button
        th:if="${keywordExists}"
        class="site-button"
        style="margin: 1rem 0 0 1rem"
      >
        <a th:href="@{/kahvilaitteet}"
          ><i
            class="fa-solid fa-arrow-left-long"
            style="margin-inline-end: 1rem"
          ></i
          >Takaisin tuotteisiin</a
        >
      </button>
      <section class="page-buttons-flex">
        <div th:if="${currentPage > 0}">
          <button class="site-button">
            <a th:href="@{/kahvilaitteet(page=${currentPage - 1})}"
              ><i
                class="fa-solid fa-arrow-left-long"
                style="margin-inline-end: 1rem"
              ></i
              >Edellinen sivu</a
            >
          </button>
        </div>
        <div th:if="${currentPage != null and currentPage &lt; totalPages - 1}">
          <button class="site-button">
            <a th:href="@{/kahvilaitteet(page=${currentPage + 1})}"
              >Seuraava sivu<i
                class="fa-solid fa-arrow-right-long"
                style="margin-inline-start: 1rem"
              ></i
            ></a>
          </button>
        </div>
      </section>
      <section class="grid-container">
        <div
          class="grid-card"
          th:each="product : ${kahvilaitteet}"
          style="position: relative"
        >
          <figure class="grid-cardpicturesize">
            <img th:src="@{/productImage/{id}(id=${product.id})}" />
          </figure>
          <div class="grid-card-texts">
            <h3 th:text="${product.name}">Laitteen nimi</h3>
            <p th:text="${product.price} + '€'">Laitteen hinta</p>
            <p>
              <a href="laite.html" th:href="@{/laite/{id}(id=${product.id})}"
                >Lisätietoja<i class="fa-solid fa-arrow-right-long"></i>
              </a>
            </p>
            <!-- <button
              id="order-button"
              class="site-button"
              style="position: absolute; bottom: 1rem; right: 1rem"
              th:value="${product.id + ',' + product.name + ',' + product.price}"
              onclick="event.preventDefault(); addToCart(this.getAttribute('value'));"
            >
              Tilaa
              <i class="fa-solid fa-basket-shopping"></i>
            </button> -->
            <button
              th:value="${product.id + ',' + product.name + ',' + product.price}"
              onclick="toggleFavorite(this.getAttribute('value'))"
              class="site-button"
              style="position: absolute; bottom: 1rem; right: 1rem"
            >
              Lisää suosikiksi<i class="fa-regular fa-heart"></i>
            </button>
          </div>
        </div>
      </section>
      <section
        class="page-buttons-flex"
        style="justify-content: center; margin-block-end: 3rem"
      >
        <div th:if="${currentPage > 0}">
          <button class="site-button">
            <a th:href="@{/kahvilaitteet(page=${currentPage - 1})}"
              ><i
                class="fa-solid fa-arrow-left-long"
                style="margin-inline-end: 1rem"
              ></i
              >Edellinen sivu</a
            >
          </button>
        </div>
        <div th:if="${currentPage != null and currentPage &lt; totalPages - 1}">
          <button class="site-button">
            <a th:href="@{/kahvilaitteet(page=${currentPage + 1})}"
              >Seuraava sivu<i
                class="fa-solid fa-arrow-right-long"
                style="margin-inline-start: 1rem"
              ></i
            ></a>
          </button>
        </div>
      </section>
    </main>
    <div th:replace="~{index::footer}"></div>
    <script>
      // Alusta tyhjä suosikkilista
      let favorites = {};
      let timerId;
      // Lisää tai poista tuote suosikkien joukosta
      function toggleFavorite(productInfo) {
        // Jaa tuotetiedot pilkulla erotelluksi taulukoksi
        let productData = productInfo.split(",");
        let productId = productData[0];
        let productName = productData[1];
        let productPrice = parseFloat(productData[2]);

        if (productId in favorites) {
          // Poista tuote suosikeista, jos se on jo siellä
          delete favorites[productId];
          removeFavoriteItem(productName);
        } else {
          // Lisää tuote suosikkeihin, jos se ei ole vielä siellä
          favorites[productId] = {
            name: productName,
            price: productPrice,
          };
          addFavoriteItem(productName, productPrice);
        }
        updateFavorites();
        showFavorites();
        // Käynnistä ajastin vain jos se ei ole vielä käynnissä
        if (!timerId) {
          timerId = setTimeout(hideFavorites, 4000); // Piilota suosikkilista 4 sekunnin kuluttua
        }
      }

      // Lisää tuote suosikkilistaan näytölle
      function addFavoriteItem(productName, productPrice) {
        let favoritesList = document.getElementById("favorites-list");
        let li = document.createElement("li");
        li.textContent = productName + " - " + productPrice + "€";
        favoritesList.appendChild(li);
      }

      // Poista tuote suosikkilistasta näytölle
      function removeFavoriteItem(productName) {
        let favoritesList = document.getElementById("favorites-list");
        let items = favoritesList.getElementsByTagName("li");
        for (let i = 0; i < items.length; i++) {
          if (items[i].textContent.includes(productName)) {
            favoritesList.removeChild(items[i]);
            break;
          }
        }
      }

      // Päivitä suosikkilista näytölle
      function updateFavorites() {
        var favoritesList = document.getElementById("favorites-list");
        favoritesList.innerHTML = "";

        // Tarkista, onko suosikkilistalla tuotteita
        if (Object.keys(favorites).length > 0) {
          // Luo otsikko vain, jos sitä ei ole vielä lisätty
          if (!document.getElementById("favoritesListHeader")) {
            let favoritesListHeader = document.createElement("h5");
            favoritesListHeader.textContent = "Suosikit";
            favoritesListHeader.id = "favoritesListHeader";
            favoritesListHeader.style.textAlign = "center";
            favoritesListHeader.style.textDecoration = "underline 0.5px black";
            document.getElementById("favourites").prepend(favoritesListHeader);
          }

          // Lisää suosikkien tiedot listalle
          for (var productId in favorites) {
            var product = favorites[productId];
            var li = document.createElement("li");
            li.textContent = product.name + " - " + product.price + "€";
            favoritesList.appendChild(li);
          }
        } else {
          // Poista otsikko, jos suosikkilistalla ei ole tuotteita
          let favoritesListHeader = document.getElementById(
            "favoritesListHeader"
          );
          if (favoritesListHeader) {
            favoritesListHeader.remove();
          }
        }

        // Siirrä suosikkilista oikeaan reunaan
        document.getElementById("favourites").classList.add("favorites-list");
      }

      // Piilota suosikkilista
      function hideFavorites() {
        document.getElementById("favourites").style.display = "none";
        // näytä sydän ikoni
        document.getElementById("heart-icon").style.display = "block";
        // Nollaa ajastin
        timerId = null;
      }
      // Näytä suosikkilista
      function showFavorites() {
        // Nollaa aiempi ajastin ja käynnistä uusi
        clearTimeout(timerId);
        timerId = setTimeout(hideFavorites, 4000);
        document.getElementById("favourites").style.display = "block";
        // Piilota sydänikoni
        document.getElementById("heart-icon").style.display = "none";
      }
    </script>
    <!-- <script>
      // Alusta tyhjä tilauslista
      let orderItems = {};

      // Tilauslistaan lisääminen
      function addToCart(productInfo) {
        let productData = productInfo.split(",");
        let productId = productData[0];
        let productName = productData[1];
        let productPrice = parseFloat(productData[2]);

        if (productName in orderItems) {
          // Tuote on jo tilauslistalla, päivitä sen määrää
          orderItems[productName].count++;
          updateCartItem(productName);
        } else {
          // Lisää tuote tilauslistalle ensimmäistä kertaa
          orderItems[productName] = {
            count: 1,
            price: productPrice,
          };

          // Lisää tuote listalle näytölle
          addCartItem(productName, productPrice);
        }

        // Päivitä total tilauslistalle
        updateTotal();

        // Päivitä lomakkeen input-kentät tilauslistan perusteella
        updateFormInputs();

        // Siirrä tilauslista oikeaan reunaan
        document.getElementById("orderList").classList.add("order-list");
      }

      // Lisää tuote listalle näytölle
      function addCartItem(productName, productPrice) {
        // Lisää tilauslistan otsikko vain, jos sitä ei ole vielä lisätty
        if (!document.getElementById("orderListHeader")) {
          let orderListHeader = document.createElement("h5");
          orderListHeader.textContent = "TILAUSLISTA";
          orderListHeader.id = "orderListHeader";
          document.getElementById("orderList").prepend(orderListHeader);
        }

        // Lisää tuote listalle näytölle
        let listItem = document.createElement("li");
        listItem.id = productName;
        listItem.textContent =
          "1 kpl, tuote: " +
          productName +
          ", hinta: " +
          productPrice.toFixed(2) +
          "€";
        document.querySelector("#orderList ul").appendChild(listItem);
      }

      // Päivitä tuotteen kappalemäärä näytöllä
      function updateCartItem(productName) {
        let listItem = document.getElementById(productName);
        listItem.textContent =
          orderItems[productName].count +
          " kpl, tuote: " +
          productName +
          ", hinta: " +
          (
            orderItems[productName].price * orderItems[productName].count
          ).toFixed(2) +
          "€";
      }

      // Päivitä total tilauslistalle
      function updateTotal() {
        let total = 0;

        // Laske total summa tilauslistalla olevista tuotteista
        for (let productName in orderItems) {
          total +=
            orderItems[productName].count * orderItems[productName].price;
        }

        // Etsi total-elementti ja päivitä tai luo se uudelleen
        let totalElement = document.getElementById("total");
        if (!totalElement) {
          totalElement = document.createElement("li");
          totalElement.id = "total";
          document.querySelector("#orderList ul").appendChild(totalElement);
        } else {
          // Poista total-elementti ja lisää se tilauslistan viimeiseksi
          totalElement.remove();
          totalElement = document.createElement("li");
          totalElement.id = "total";
          document.querySelector("#orderList ul").appendChild(totalElement);
        }

        // Päivitä total-summa näytölle
        totalElement.textContent = "Yhteensä: " + total.toFixed(2) + "€";
        totalElement.style = "font-weight: bold;";
      }
      function updateFormInputs() {
        // Luo tilausobjekti
        let orderData = [];
        for (let productName in orderItems) {
          let productData = {
            productName: productName,
            productCount: orderItems[productName].count,
            productPrice: orderItems[productName].price,
          };
          orderData.push(productData);
        }

        // Lähetä tilausobjekti JSON-muodossa
        document.getElementById("orderFormInput").value =
          JSON.stringify(orderData);
      }
    </script> -->
    <!-- <script th:src="@{/javascript/scrollBehavior.js}"></script> -->
  </body>
</html>
