<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Töölön Kahvikauppa</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e00b2e3114.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/layout.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/products.css}" />
  </head>
  <body>
    <header th:replace="index::header"></header>
    <!-- <header>
      <section class="upper-bar">
        <figure>
          <img th:src="@{/images/kahvikauppa_logo2.png}" alt="logo" />
        </figure>
        <nav>
          <ul class="navigation-items">
            <li><a href="index.html" th:href="@{/}">Etusivu</a></li>
            <li>
              <a href="kahvilaitteet.html" th:href="@{/kahvilaitteet}"
                >Kahvilaitteet</a
              >
            </li>
            <li>
              <a href="kulutustuotteet.html" th:href="@{/kulutustuotteet}"
                >Kulutustuotteet</a
              >
            </li>
            <li>
              <a href="admin.html" th:href="@{/admin}"
                ><i class="fa-regular fa-user"></i
              ></a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="header-text">
        <h1>TÖÖLÖN KAHVIKAUPPA</h1>
        <p>Tervetuloa Kahvikauppaan</p>
        <p>Myymme kahvilalaitteita ja -tuotteita</p>
        <p id="header-text-a-margin">
          Ota yhteyttä
          <span id="header-text-a"><a href="#footer">Kahvikauppa</a></span>
        </p>
      </section>
    </header> -->
    <main>
      <h2>KULUTUSTUOTTEET</h2>
      <p
        class="summary-p"
        th:text="'Laitteita yhteensä: ' + ${kulutustuotteet.size()}"
      ></p>
      <form th:action="@{/searchConsumerProducts}" method="GET">
        <input
          class="search-input"
          type="text"
          id="searchInput"
          name="keyword"
          placeholder="Etsi tuotteita"
        />
        <button class="search-button" type="submit">Hae</button>
      </form>
      <button
        th:if="${keywordExists}"
        class="search-button"
        style="margin-inline-start: 1rem"
      >
        <a th:href="@{/kulutustuotteet}"
          ><i
            class="fa-solid fa-arrow-left-long"
            style="margin-inline-end: 1rem"
          ></i
          >Takaisin tuotteisiin</a
        >
      </button>
      <section th:if="${keyword}" class="error-message">
        <p th:text="${keyword}"></p>
      </section>
      <section class="grid-container">
        <div class="grid-card" th:each="product : ${kulutustuotteet}">
          <figure class="grid-cardpicturesize">
            <img th:src="@{/productImage/{id}(id=${product.id})}" />
          </figure>
          <div class="grid-card-texts">
            <h3 th:text="${product.name}">Laitteen nimi</h3>
            <p th:text="${product.price} + '€'">Laitteen hinta</p>
            <p>
              <a href="tuote.html" th:href="@{/tuote/{id}(id=${product.id})}"
                >Lisätietoja<i class="fa-solid fa-arrow-right-long"></i>
              </a>
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <section class="footer-contact">
        <h4>Yhteystiedot</h4>
        <p>Töölön Kahvikauppa</p>
        <p>Töölöntorinkatu 445,</p>
        <p>00160 Helsinki</p>
        <p>0400445445</p>
        <p>toolo@toolonkahvikauppa.fi</p>
      </section>
      <section class="footer-about-us">
        <h4>Tietoa meistä</h4>
        <p><a href="#">Toimitusehdot</a></p>
        <p><a href="#">Tietosuojaseloste</a></p>
        <p>Y-tunnus: 292292-4</p>
      </section>
      <section class="footer-icons">
        <h4 id="icons-h4">Tuhtaamista somessa</h4>
        <p>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </p>
      </section>
      <p id="copyright">
        Copyright © 2024 Töölön Kahvikauppa. Kaikki oikeudet pidätetään.
      </p>
    </footer>
    <script th:src="@{/javascript/scrollBehavior.js}"></script>
  </body>
</html>
