<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kahvikauppa</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e00b2e3114.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
  </head>
  <body>
    <header>
      <section class="upper-bar">
        <figure><img th:src="@{/images/kahvilogo.png}" alt="logo" /></figure>
        <nav>
          <ul class="navigation-items">
            <li><a href="index.html" th:href="@{/}">Etusivu</a></li>
            <li>
              <a href="kahvilaitteet.html" th:href="@{/kahvilaitteet}"
                >Kahvilaitteet</a
              >
            </li>
            <li>
              <a href="kulutustuotteet.html" th:href="@{/kulutustuotteet}"
                >Kulutustuotteet</a
              >
            </li>
            <li>
              <a href="admin.html" th:href="@{/admin}"
                ><i class="fa-regular fa-user"></i
              ></a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="header-text">
        <h1>TÖÖLÖN KAHVIKAUPPA</h1>
        <p>Tervetuloa Kahvikauppaan</p>
        <p>Myymme kahvilalaitteita ja -tuotteita</p>
        <p id="header-text-a-margin">
          Ota yhteyttä
          <span id="header-text-a"><a href="#footer">Kahvikauppa</a></span>
        </p>
      </section>
    </header>
    <main>
      <section class="admin-section">
        <h2>ADMIN</h2>
        <button>
          <a th:href="@{/admin}">Tuotteet</a>
        </button>
        <button><a th:href="@{/toimittajat}">Toimittajat</a></button>
        <button><a th:href="@{/valmistajat}">Valmistajat</a></button>
        <button><a th:href="@{/osastot}">Osastot</a></button>
      </section>

      <section class="edit-section">
        <h3>Muokkaa tuotetietoja:</h3>
        <figure class="edit-product-figure">
          <!-- <img
            th:src="|data:image/jpeg;base64,${base64Image}|"
            alt="Product Image"
          /> -->
          <img th:src="${imageURL}" alt="Product Image" />
        </figure>
        <form
          class="form-flex"
          th:action="@{/updateProduct/{id}(id=${product.id})}"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="name">Tuotteen nimi:</label>
          <input
            th:value="${product.name}"
            type="text"
            name="name"
            id="name"
            required
          />
          <label for="price">Tuotteen hinta:</label>
          <input
            th:value="${product.price}"
            type="text"
            name="price"
            id="price"
            placeholder="Syötä hinta muodossa XXX.XX"
            pattern="\d+(\.\d{2})?"
            required
          />
          <label for="description">Tuotteen kuvaus:</label>
          <textarea
            th:utext="${description}"
            name="description"
            id="description"
            rows="7"
            required
            maxlength="2000"
            style="margin-block-end: 0"
            oninput="updateCharCount()"
          ></textarea>
          <div
            id="charCount"
            th:text="${description.length() + '/2000'}"
            style="margin-block-end: 1rem; font-size: 1.2rem"
          ></div>
          <label for="productImage">Kuva:</label>
          <!-- th:src="${base64Image}" -->
          <input
            th:value="${imageURL}"
            type="file"
            name="productImage"
            id="productImage"
            accept="image/*"
            required
          />
          <label for="department">Osasto:</label>
          <select name="departmentId" id="department" required>
            <option value="">Valitse osasto</option>
            <option
              th:each="department : ${departments}"
              th:value="${department.id}"
              th:text="${department.name}"
              th:selected="${department.id == product.osasto.id}"
            ></option>
          </select>
          <label for="supplier">Toimittaja:</label>
          <select name="supplierId" id="supplier" required>
            <option value="">Valitse toimittaja</option>
            <option value="new">Lisää uusi toimittaja</option>
            <option
              th:each="supplier : ${suppliers}"
              th:value="${supplier.id}"
              th:text="${supplier.name}"
              th:selected="${supplier.id == product.toimittaja.id}"
            ></option>
          </select>
          <!-- LISÄTÄÄN UUSI TOIMITTAJA JOS TARVITSEE -->
          <label
            for="newSupplierNameInput"
            id="newSupplierNameLabel"
            style="display: none; margin-inline-start: 2rem"
            >Uuden toimittajan nimi:</label
          >
          <input
            type="text"
            id="newSupplierNameInput"
            name="newSupplierName"
            style="
              display: none;
              margin-inline-start: 2rem;
              border: 1.5px solid r#015ECC;
            "
            th:if="${isNewSupplier}"
          />

          <label for="producer">Valmistaja:</label>
          <select name="producerId" id="producer" required>
            <option value="">Valitse valmistaja</option>
            <option value="new">Lisää uusi valmistaja</option>
            <option
              th:each="producer : ${producers}"
              th:value="${producer.id}"
              th:text="${producer.name}"
              th:selected="${producer.id == product.valmistaja.id}"
            ></option>
          </select>
          <!-- LISÄTÄÄN UUSI VALMISTAJA JOS TARVITSEE -->
          <label
            for="newProducerNameInput"
            id="newProducerNameLabel"
            style="display: none; margin-inline-start: 2rem"
            >Uuden valmistajan nimi:</label
          >
          <input
            type="text"
            id="newProducerNameInput"
            name="newProducerName"
            style="
              display: none;
              margin-inline-start: 2rem;
              border: 1.5px solid #015ecc;
            "
            th:if="${isNewProducer}"
          />
          <input
            class="submit-button"
            type="submit"
            value="Tallenna muutokset"
          />
        </form>
        <button>
          <a th:href="@{/admin}"
            ><i class="fa-solid fa-arrow-left-long"></i> Takaisin</a
          >
        </button>
      </section>
    </main>
    <footer id="footer">
      <section class="footer-contact">
        <h4>Yhteystiedot</h4>
        <p>Töölön Kahvikauppa</p>
        <p>Töölöntorinkatu 445,</p>
        <p>00160 Helsinki</p>
        <p>0400445445</p>
        <p>toolo@toolonkahvikauppa.fi</p>
      </section>
      <section class="footer-about-us">
        <h4>Tietoa meistä</h4>
        <p><a href="#">Toimitusehdot</a></p>
        <p><a href="#">Tietosuojaseloste</a></p>
        <p>Y-tunnus: 292292-4</p>
      </section>
      <section class="footer-icons">
        <h4 id="icons-h4">Tuhtaamista somessa</h4>
        <p>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </p>
      </section>
      <p id="copyright">
        Copyright © 2024 Töölön Kahvikauppa. Kaikki oikeudet pidätetään.
      </p>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let textarea = document.getElementById("description");
        let counter = document.getElementById("charCount");

        textarea.addEventListener("input", function () {
          let count = textarea.value.length;
          counter.textContent = count + "/2000"; // Enimmäismerkkimäärä 2000 tietokannassa
        });
        document
          .getElementById("supplier")
          .addEventListener("change", function () {
            let isNewSupplier =
              document.getElementById("supplier").value === "new";
            document.getElementById("newSupplierNameInput").style.display =
              isNewSupplier ? "block" : "none";
            document.getElementById("newSupplierNameLabel").style.display =
              isNewSupplier ? "block" : "none";
          });
        document
          .getElementById("producer")
          .addEventListener("change", function () {
            let isNewProducer =
              document.getElementById("producer").value === "new";
            document.getElementById("newProducerNameInput").style.display =
              isNewProducer ? "block" : "none";
            document.getElementById("newProducerNameLabel").style.display =
              isNewProducer ? "block" : "none";
          });
      });
      // Haetaan yläpalkin elementit
      let upperBar = document.querySelector(".navigation-items");
      let navigationLinks = document.querySelectorAll(".navigation-items li a");
      // Tallennetaan nykyinen scroll-arvo
      let lastScrollTop = 0;
      window.addEventListener("scroll", function () {
        // Sivun nykyinen scroll-arvo
        let scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;
        // Tarkistetaan onko sivua rullattu ylös vai alaspäin
        if (scrollTop > lastScrollTop) {
          // Sivua rullattiin alaspäin, muutetaan yläpalkin väriä
          upperBar.style.backgroundColor = "#3a342598";
          navigationLinks.forEach(function (link) {
            link.style.color = "whitesmoke";
          });
        } else {
          // Sivua rullattiin ylöspäin, palautetaan väri
          upperBar.style.backgroundColor = "transparent";
        }
        // Päivitetään sivun nykyinen scroll-arvo
        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
      });
    </script>
  </body>
</html>
