<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kahvikauppa</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e00b2e3114.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/reset.css"
      th:href="@{css/reset.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/layout.css"
      th:href="@{css/layout.css}"
    />
  </head>
  <body>
    <header>
      <section class="upper-bar">
        <figure><img th:src="@{/images/kahvilogo.png}" alt="logo" /></figure>
        <nav>
          <ul class="navigation-items">
            <li><a href="index.html" th:href="@{/}">Etusivu</a></li>
            <li>
              <a href="kahvilaitteet.html" th:href="@{/kahvilaitteet}"
                >Kahvilaitteet</a
              >
            </li>
            <li>
              <a href="kulutustuotteet.html" th:href="@{/kulutustuotteet}"
                >Kulutustuotteet</a
              >
            </li>
            <li>
              <a href="admin.html" th:href="@{/admin}"
                ><i class="fa-regular fa-user"></i
              ></a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="header-text">
        <h1>TÖÖLÖN KAHVIKAUPPA</h1>
        <p>Tervetuloa Kahvikauppaan</p>
        <p>Myymme kahvilalaitteita ja -tuotteita</p>
        <p id="header-text-a-margin">
          Ota yhteyttä
          <span id="header-text-a"><a href="#footer">Kahvikauppa</a></span>
        </p>
      </section>
    </header>
    <main>
      <h2>ADMIN</h2>
      <section class="admin-section">
        <div class="add-section">
          <h3>Lisää toimittaja:</h3>
          <form class="form-flex" th:action="@{/toimittajat}" method="POST">
            <label for="name">Toimittajan nimi:</label>
            <input type="text" name="name" id="name" />
            <label for="contactPerson">Yhteyshenkilö:</label>
            <input type="text" name="contactPerson" id="contactPerson" />
            <label for="contactPersonEmail">Yhteyshenkilön sähköposti:</label>
            <input
              type="text"
              name="contactPersonEmail"
              id="contactPersonEmail"
            />
            <input class="submit-button" type="submit" value="Lisää" />
          </form>
        </div>
        <button><a th:href="@{/admin}">Tuotteet</a></button>
        <button style="background-color: rgb(254, 255, 217)">
          <a th:href="@{/toimittajat}">Toimittajat</a>
        </button>
        <button><a th:href="@{/valmistajat}">Valmistajat</a></button>
        <button><a th:href="@{/osastot}">Osastot</a></button>
      </section>

      <table class="admin-table">
        <thead>
          <tr>
            <th>Toimittajan nimi</th>
            <th>Yhteyshenkilö</th>
            <th>Yhteyshenkilön sähköposti</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="supplier : ${suppliers}">
            <td th:text="${supplier.name}">Suppliers name</td>
            <td th:text="${supplier.contactPerson}">
              Suppliers contact person
            </td>
            <td th:text="${supplier.contactPersonEmail}">
              Contact person's email
            </td>
            <td>
              <form
                th:action="@{/updateSupplier/{id}(id=${supplier.id})}"
                method="POST"
              >
                <button class="update-button" type="submit" value="Muokkaa">
                  Muokkaa
                </button>
              </form>
            </td>
            <td>
              <form
                th:action="@{/deleteSupplier/{id}(id=${supplier.id})}"
                method="POST"
              >
                <button class="delete-button" type="submit" value="Poista">
                  Poista
                </button>
              </form>
            </td>
          </tr>
          <tr>
            <td colspan="5" style="font-style: italic; text-align: center">
              Taulukossa on yhteensä
              <span th:text="${suppliers.size()}">0</span>
              toimittajaa.
            </td>
          </tr>
        </tbody>
      </table>
    </main>

    <footer id="footer">
      <section class="footer-contact">
        <h4>Yhteystiedot</h4>
        <p>Töölön Kahvikauppa</p>
        <p>Töölöntorinkatu 445,</p>
        <p>00160 Helsinki</p>
        <p>0400445445</p>
        <p>toolo@toolonkahvikauppa.fi</p>
      </section>
      <section class="footer-about-us">
        <h4>Tietoa meistä</h4>
        <p><a href="#">Toimitusehdot</a></p>
        <p><a href="#">Tietosuojaseloste</a></p>
        <p>Y-tunnus: 292292-4</p>
      </section>
      <section class="footer-icons">
        <h4 id="icons-h4">Tuhtaamista somessa</h4>
        <p>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
        <p>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </p>
      </section>
      <p id="copyright">
        Copyright © 2024 Töölön Kahvikauppa. Kaikki oikeudet pidätetään.
      </p>
    </footer>
  </body>
</html>
