<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}"></head>
  <body>
    <header th:replace="~{index::header}"></header>
    <main>
      <section
        th:if="${message}"
        th:class="${message.startsWith('Kiitos') ? 'success-message' : 'error-message'}"
      >
        <p th:text="${message}"></p>
      </section>
      <h2 style="margin: 3rem 2rem">REKISTERÖIDY</h2>
      <p style="margin: 0 2rem 1rem 2rem">VIP-asiakkaana saat enemmän etuja!</p>
      <p style="margin: 0 2rem 1rem 2rem; line-height: 2.2rem">
        Uutiskirje on paras tapa kuulla tarjoukset ja uutuudet ennen muita.
        Uutiskirje sisältää runsaasti inspiraatiota kahvin ystäville – ja
        VIP-asiakkaana kerrytät bonuksia ostoistasi. Ainiin, VIP-asiakkaamme
        saavat myös 5% alennuksen lähes kaikista normaalihintaisista
        tuotteistamme.
      </p>
      <section class="edit-section">
        <h3>Tarvitsemme muutamia tietoja sinulta:</h3>
        <form class="form-flex" th:action="@{/vipasiakas}" method="POST">
          <label for="firstname">Etunimi</label>
          <input type="text" name="firstname" id="firstname" required />
          <label for="lastname">Sukunimi</label>
          <input type="text" name="lastname" id="lastname" required />
          <label for="email">Sähköpostiosoite</label>
          <input type="email" name="email" id="email" required />
          <div>
            <input
              type="checkbox"
              name="agree1"
              id="agree1"
              style="width: 5rem"
              value="accepted"
              required
            />
            <label for="agree1" style="font-size: 1.4rem"
              >Liityn VIP-asiakkaaksi! Tilaan uutiskirjeen ja hyväksyn
              asiakkuuden
              <span
                ><a href="#" style="text-decoration: underline 0.5px black"
                  >sopimusehdot</a
                ></span
              >*
            </label>
          </div>
          <div>
            <input
              type="checkbox"
              name="agree2"
              id="agree2"
              style="width: 5rem"
              value="accepted"
              required
            />
            <label for="agree2" style="font-size: 1.4rem"
              >Olen tietoinen, että Töölön Kahvikauppa tallentaa ja käsittelee
              henkilötietojani
              <span
                ><a href="#" style="text-decoration: underline 0.5px black"
                  >tietosuojalausekkeessa</a
                ></span
              >* kuvatulla tavalla</label
            >
          </div>

          <div style="margin-block-end: 5rem">
            <input
              class="submit-button"
              type="submit"
              value="Rekisteröidy"
              style="margin-inline-end: 4rem"
            />
            <input class="submit-button" type="reset" value="Reset" />
          </div>
        </form>
        <button class="site-button">
          <a th:href="@{/}">
            <i class="fa-solid fa-arrow-left-long"></i>
            Takaisin</a
          >
        </button>
      </section>
    </main>
    <div th:replace="~{index::footer}"></div>
  </body>
</html>
