<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}"></head>
  <body>
    <header th:replace="~{index::header}"></header>
    <main>
      <section
        th:if="${message}"
        th:class="${message.startsWith('Asiakas poistettu') ? 'success-message' : 'error-message'}"
      >
        <p th:text="${message}"></p>
      </section>
      <section class="admin-section">
        <h2>ADMIN</h2>
        <button><a th:href="@{/admin}">Tuotteet</a></button>
        <button>
          <a th:href="@{/toimittajat}">Toimittajat</a>
        </button>
        <button><a th:href="@{/valmistajat}">Valmistajat</a></button>
        <button><a th:href="@{/osastot}">Osastot</a></button>
        <button style="background-color: #d5e1ca">
          <a th:href="@{/vipasiakkaat}">VIP-asiakkaat</a>
        </button>
      </section>
      <div class="add-section">
        <h3>Lisää uusi VIP-asiakas:</h3>
        <form class="form-flex" th:action="@{/vipasiakkaat}" method="POST">
          <label for="firstname">Etunimi:</label>
          <input type="text" name="firstname" id="firstname" required />
          <label for="lastname">Sukunimi:</label>
          <input type="text" name="lastname" id="lastname" required />
          <label for="email">Sähköpostiosoite:</label>
          <input type="email" name="email" id="email" required />
          <input class="submit-button" type="submit" value="Lisää" />
        </form>
      </div>

      <table class="admin-table">
        <thead>
          <tr>
            <th>Asiakkaan etunimi</th>
            <th>Asiakkaan sukunimi</th>
            <th>Asiakkaan sähköpostiosoite</th>
            <!-- <th style="width: 15%">Tarkemmat tiedot/muokkaa</th> -->
            <th style="width: 10%"></th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="vipCustomer : ${vipCustomers}">
            <td th:text="${vipCustomer.firstname}">Customer firstname</td>
            <td th:text="${vipCustomer.lastname}">Customer lastname</td>
            <td th:text="${vipCustomer.email}">Customers email</td>
            <!-- <td>
              <a th:href="@{/updateVipCustomer/{id}(id=${vipCustomer.id})}">
                <button class="update-button">Muokkaa</button>
              </a>
            </td> -->
            <td>
              <form
                th:action="@{/deleteVipCustomer/{id}(id=${vipCustomer.id})}"
                method="POST"
              >
                <button class="delete-button" type="submit" value="">
                  Poista
                </button>
              </form>
            </td>
          </tr>
          <tr>
            <td colspan="5" style="font-style: italic; text-align: center">
              Taulukossa on yhteensä
              <span th:text="${vipCustomers.size()}">0</span>
              VIP-asiakasta.
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <div th:replace="~{index::footer}"></div>
    <!-- <script th:src="@{/javascript/scrollBehavior.js}"></script> -->
  </body>
</html>
